header {
    background: #f1f2f6;
    width: 100%;
    height: 30%;
    font-size: 40px;
    padding: 20px 20px 20px 20px;
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
body {
    padding-left: 20px;
    margin:0px
}

.leftForm {
    float:left;
}
.rightForm {
    float:right;
}