header {
    background: #f1f2f6;
    width: 100%;
    height: 30%;
    font-size: 40px;
    padding: 20px;
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
body {
    margin:0px
}

.leftForm {
    float:left;
    margin-left: 20px;
    width: 300px;
}
.rightForm {
    float:right;
    margin-right: 40px;
    width: 300px;
}