tr{
    background: #f1f2f6;
    margin-top:20px;
    height:30px;
    vertical-align: center;
    width:100%
}
table{
    width:100%
}
.leftmenu{
    width:75%;
    float:left
}
.rightmenu{
    width:25%;
    float:right
}
p{
    font-size: 30px;
    font-family: sans-serif;
    font-weight:bold;
}