<form action="/loginCheck">
    <label style="width:1000px"> nickname:
        <input placeholder="nickname" name="nickname" required>
    </label>
    <br>
    <label style="width:1000px"> password:
        <input placeholder="password" type="password" name="password" required>
    </label>
    <br>
    <input type="submit" value="login">
</form>