<form action="/registrationCheck">
    <input placeholder="придумай никнейм" name="nickname">
    <br>
    <input placeholder="придумай пароль" name="pass1" type="password">
    <br>
    <input placeholder="повтори пароль" name="pass2" type="password">
    <br>
    <input type="submit" value="Зарегистрироваться">
</form>