
<form action="/userEditCheck">
    <p>Введи пароль, чтобы ты мог изменить ник или пароль</p>
    <input placeholder="password" name="password">
    <p>заполни те поля, которые хочешь изменить</p>
    <input placeholder="new nickname" name="nickname">
    <input placeholder="new password" name="newPassword">
    <input type="submit" value="Сохранить" >
</form>