<form action="/loginCheck">
    <label>
        <input placeholder="nickname" name="nickname">
    </label>
    <label>
        <input placeholder="password" type="password" name="password">
    </label>
    <input type="submit" value="login">
</form>