<h2>заполни те поля, которые хочешь изменить</h2>
<form>
    <input placeholder="nickname" name="nick">
    <input placeholder="password" name="pass">
    <input type="submit" value="Сохранить">
</form>