<link rel="stylesheet" href="styles/main.css">

<form class="gameForm" action="/gameCode">
    <input class="gameCode" name="gameCode" required pattern="[0-9]{6}" placeholder="123456">
    <input type="submit" value="GO!" class="connectToGame">
</form>
<br>
<form class="buttonForm" action="/login">
    <input type="submit" value="Войти">
</form>
<br>
<form class="buttonForm" action="/register">
    <input type="submit" value="Зарегистрироваться">
</form>
