<link rel="stylesheet" href="userpage.css">
<form>
    {{#each bingos}}
        <label>
            <input type="radio" name="bingoName" value="{{this}}">
            {{this}}
        </label>
        <br>
    {{/each}}
    <br>
    <input type="submit" value="изменить бинго" formaction="/bingoEdit">
    <input type="submit" value="запустить игру" formaction="/bingoStart">
    <input type="submit" value="создать бинго" formaction="/createBingo">
</form>

